<h1>Listings for <%= link_to(@product.name, @product) %></h1>

<% @listings.each do |l| %>
<li>
  <%= l.year %>
  <%= l.product.name %>
  <%= l.model %>
  <%= l.color %>
</li>


<% end %>

<%= link_to "Create new listing", new_product_listing_path(@product) %>
<br>
<%= link_to "All Products", root_path %>
