<h1><%= pluralize(@products.size, 'Product') %></h1>

<%= link_to "Add New Product", new_product_path %>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to(product.name, product) %>
  </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
